*{
    margin: 0%;
    text-align: center;
    align-items: center;
    background-color: rgb(196, 196, 196);
}
table, th ,td{
    border: 2px solid black;
    padding: 3px;
    font-size: 20px;
}
th, td{
    background-color: white;
    border-radius: 5px;
 }
 th{
    color: black;
    background-color:azure;
 }
.heading{
    background-color: dodgerblue;
    font-size: 35px;
    color:white;
    padding: 20px;
    margin-bottom: 30px;
}
.qty{
    width: 50px;
    border-radius: 5px;
}